/* ==UserStyle==
@name          Reddit Night Mode Supplement
@version       0.0.7
@namespace     github.com/derek-shnosh/reddit-night-mode-supplement
@description   Cleans up inline code and code blocks when using Reddits (new) Night Mode.
@author        derek-shnosh
@license       MIT
@homepageURL   https://github.com/derek-shnosh/reddit-night-mode-supplement
@supportURL    https://github.com/derek-shnosh/reddit-night-mode-supplement/issues
@updateURL     https://github.com/derek-shnosh/reddit-night-mode-supplement/raw/master/reddit-night-mode-supplement.user.styl
@preprocessor  stylus

==/UserStyle== */
@-moz-document domain("reddit.com") {
	/* code
	- font-family prefers `Fira Code` font.
	- color changed light-blue shade.
	- background is dark.
	- padding and border-radius set at 2px.
	*/
	code {
		font-family: Fira Code, Noto Mono, Menlo, Monaco, Consolas;
		color: rgb(160, 180, 200) !important;
		background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
		padding: 2px;
		border-radius: 3px;
		border: 1px solid rgb(40, 50, 65);
	}

	/* pre
	- background is dark.
	- border-radius set at 5px.
	*/
	pre  {
		background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
		border-radius: 5px;
	}
}